<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.uae.tra_smart_services"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:name=".TRAApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        xmlns:tools="http://schemas.android.com/tools"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppThemeGreen">
        
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AuthorizationActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ScannerActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".rest.TRARestService"
            android:exported="false"/>

        <service
            android:name=".rest.DynamicRestService"
            android:exported="false"/>

        <service
            android:name=".service.AttachmentUploadService"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8f2fec49c70c4b9ae542be587d9897f637adce08"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

    </application>

</manifest>
