<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uae.tra_smart_services" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity" >

        </activity>

        <activity
            android:name=".activities.AuthorizationActivity"
            android:parentActivityName=".activities.HomeActivity">

        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="locale"
            android:parentActivityName=".activities.HomeActivity"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".activities.HomeActivity"/>
    </application>

</manifest>
